{% extends 'shared/base.html' %} 
{% load static %}  

{% block titulo %}
<title>Mensagens Salvas</title>
{% endblock %}

{% block content %}
    {% if mensagem %}
    <div class="d-flex justify-content-center">
        <table class="table table-striped" style="width: 70%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data de criação</th>
                    <th scope="col">Mensagem</th>
                </tr>
            </thead>
            <tbody>
                {% for mensagens in mensagem %}
                <tr>
                    <th scope="row">{{ mensagens.id }}</th>
                    <td>{{ mensagens.data }}</td>
                    <td>{{ mensagens.mensagem }}</td>
                    
                    <td>
                        <a href="{%url 'enviar-mensagem' mensagens.id %}">Enviar mensagem</a>
                    </td>
                    <td>
                        <a href="{% url 'editar-mensagem' mensagens.id %}">Editar Mensagem</a>
                    </td>
                    <td>
                        <a href="{% url 'deletar-mensagem' mensagens.id %}">Deletar Mensagem</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    
{% endblock %}